* {
  box-sizing: border-box;

  .chat-side {
    background-color: #253141;
    height: 100vh;
    width: 300px;
    float: left;
    color: #ffffff;
    text-align: center;
  }

  .chat-main {
    background-color: #ffffff;
    height: 100vh;
    width: calc(100vw - 300px);
    float: right;
    color: #ff0000;
    text-align: center;
  }
}