$chat-side-bgclr: $side_blue_dark;
$groups-bgclr: $side_blue_light;
$chat-main-bgclr: $white;
$messages-bgclr: #fafafa;
$form-bgclr: #d2d2d2;
$submit-btn-bgclr: $light_blue;

$main-txtclr: $white;
$current-group-txtclr: #333;
$member-list-txtclr: $light_gray;
$edit-btn-txtclr: $light_blue;
$talker-txtclr: #333;
$date-txtclr: $light_gray;
$message-txtclr: $black;

$messages-borclr: #eee; 

@mixin text-setting($clr,$size) {
  color: $clr;
  font-size: $size;
  font-weight: bold;
}

@mixin vertical-centering {
  display: flex;
  align-items: center;
}

@mixin equidistant {
  display: flex;
  justify-content: space-between;
}

@mixin horizontal-centering {
  display: flex;
  justify-content: center;
}

@mixin end-alignment {
  display: flex;
  justify-content: flex-end;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

input::placeholder {
  padding: 0 0 0 10px;
}

.chat-side {
  background-color: $chat-side-bgclr;
  width: 300px;
  float: left;

  .side-header {
    height: 100px;
    @include vertical-centering;

    &__box {
      height: 20px;
      width: 260px;
      margin: 40px 20px;
      @include equidistant;

      &__user-name {
        width: 260px - 60px;
        @include text-setting($main-txtclr,16px);
      }

      &__menu {
        width: 60px;
        @include end-alignment;
        
        &__new-group {
          @include text-setting($main-txtclr,16px);
        }

        &__edit-user {
          @include text-setting($main-txtclr,16px);
          margin: 0 0 0 5px;
        }
      }
    }
  }

  .groups {
    background-color: $groups-bgclr;
    height: calc(100vh - 100px);

    .group {
      height: 100px;
      padding: 20px 0 0;

      &__group-name {
        margin: 0 20px 5px;
        @include text-setting($main-txtclr,15px);
      }

      &__latest-message {
        margin: 5px 20px 40px;
        @include text-setting($main-txtclr,11px);
      }
    }
  }
}

.chat-main {
  background-color: $chat-main-bgclr;
  width: calc(100vw - 300px);
  float: right;

  .main-header {
    height: 100px;
    @include equidistant;
    padding: 0 40px;

    &__left-box {
      width: 100px;

      &__current-group {
        @include text-setting($current-group-txtclr,20px);
        margin: 35px 0 0;
      }

      &__member-list {
        @include text-setting($member-list-txtclr,12px);
        margin: 15px 0 0;
        display: flex;
      }
    }

    &__edit-btn {
      @include text-setting($edit-btn-txtclr,16px);
      border: 1px solid;
      height: 40px;
      width: 72px;
      @include vertical-centering;
      padding: 0 20px;
      margin: 28px 0 0;
    }
  }

  .messages {
    background-color: $messages-bgclr;
    border: 1px solid;
    border-color: $messages-borclr;
    height: calc(100vh - 190px);
    padding: 35px 0 0 40px;

    .message {
      &__upper-info {
        display: flex;

        &__talker {
          @include text-setting($talker-txtclr,16px);
        }

        &__date {
          @include text-setting($date-txtclr,12px);
        }
      }
      
      &__text {
        @include text-setting($message-txtclr,14px);
        margin: 12px 0 46px;
      }
    }
  }

  .form {
    background-color: $form-bgclr;
    height: 90px;
    @include vertical-centering;

    .new_message {
      @include equidistant;
      height: 50px;
      width: calc(100vw - 300px);
      padding: 0 40px;

      .input-box {
        width: calc(100vw - 235px);
        @include vertical-centering;
        @include equidistant;
        position: relative;

        &__text {
          height: 100%;
          width: 100%;
          border: none;
        }

        &__image {
          position: absolute;
          right: 10px;

          &__file {
            display: none;
          }
        }
      }

      .submit-btn {
        background-color: $submit-btn-bgclr;
        width: 100px;
        margin: 0 0 0 15px;
        @include text-setting($main-txtclr,16px);
        @include vertical-centering;
        @include horizontal-centering;
      }
    }
  }
}